@import "tailwindcss";

@font-face { 
    font-family: "CrimsonRegular";
    src: url("./fonts/CrimsonText-Regular.woff2") format("woff2"); 
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "DMSansRegular";
    src: url("./fonts/DMSans-Regular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
}

@font-face{ 
    font-family: "DMSansMedium";
    src: url("./fonts/DMSans-Regular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "DMSansBold";
    src: url("./fonts/DMSans-Bold.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
}


@font-face { 
    font-family: "RobotoMono-Regular";
    src: url("./fonts/RobotoMono-Regular.woff2") format("woff2"); 
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "rethinkSans-medium";
    src: url("./fonts/rethink-sans-latin-500-normal.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
}

@font-face{ 
    font-family: "redditMono-medium";
    src: url("./fonts/reddit-mono-latin-500-normal.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
}

@theme { 
    --color-green-600: #485C11; 
    --color-green-400: #8E9C78; 
    --color-green-100: #DFECC6; 
    --color-gray-100: #E9E9E9; 
    --color-gray-500: #6F6F6F;
    --color-custom-black: #121212; 

    --font-dmsans-regular: "DMSansRegular";
    --font-dmsans-medium: "DMSansMedium";  
    --font-dmsans-bold: "DMSansBold";
    --font-crimson-regular: "CrimsonRegular"; 
    --font-roboto-regular: "RobotoMono-Regular";
    --font-rethink-medium: "rethinkSans-medium"; 
    --font-reddit-medium: "redditMono-medium"; 

    --animate-link1: slide-right 350ms ease-out; 
    --animate-link2: slide-right 400ms ease-out; 
    --animate-link3: slide-right 550ms ease-out; 
    --animate-link4: slide-right 650ms ease-out; 

    @keyframes slide-right { 
        0% {transform: translateX(-150px);
        opacity: 0}
        100%{transform: translateX(0);
        opacity: 100}
    }
}   
